.btn {
  @apply bg-blue-300;
}

#ghostBtn {
  transition: all 1s ease 0.5s;
}

#wrapper .ghostToggler:checked + #ghostBtn > div {
  background: #63b3ed;
  color: #fff;
}

#wrapper .ghostToggler:checked + #ghostBtn {
  background: #63b3ed;
  transform: translateY(-100px);
  opacity: 0;
}

#wrapper .ghostToggler:checked + #ghostBtn::after {
  content: 'X';
  background: #63b3ed;
}

#wrapper .ghostToggler:checked + #ghostBtn > div > i {
  color: #fff;
}
